* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__body {
    margin: 0 auto;
    width: 1020px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    background: #2d303a;
    display: flex;
}

.header__logo{
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2.9%;
    margin-bottom: 2.9%;
    margin-left: 4%;
}

.red {
    color: #f06c64;
}

nav {
    margin-top: 41px;
    margin-left: 42.8%;
    width: 100%;
}

.topnav a {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 3%;
}

.topnav a:hover {
    color: #f06c64;
}

.wrapper__slider {
    background: #f06c64;
}

.wrapper__slider div {
    display: inline-block;
    vertical-align: middle;
    padding-left: 31px;
}

.wrapper__iphone {
    padding-top: 57px;
    padding-bottom: 57px;
    background: #f06c64;
}

.iphone__horizontal{
    padding-left: 72.5px!important;
}
.chev {
    cursor: pointer;
}

.chev:last-child{
    padding-left: 50px;
}

.chev img:hover {
    filter: invert(1);
}

.services__cards{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;

}
.services {
    color: #666d89;
    padding-left: 40px;
    padding-right: 40px;
    background: #f2f2f2;

}
.services h1 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 58px;
    padding-bottom: 20px;

}
.services p {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 45px;
}
.services__card {
    padding-left: 16px;
    padding-right: 14px;

}

.services__card p {
    font-size: 12px;
    line-height: 21px;
}
